@{
    ViewData["Title"] = "Movie Form Submitted";
}

<h1>Your New Movie has been added Successfully!</h1><br />
<a asp-controller="Home" asp-action="MovieForm">Submit another Movie</a><br />
<a asp-controller="Home" asp-action="Index">Back to the Home Page</a>