@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!--Welcome and image on the Index page-->
<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection</h1><br />
    <img src="~/img/1.jpg" />
</div>
